header {
	background-color:white;
	height: 70px;
	width: 100%;
	/* border grey */
	border-bottom: 1px solid #CCCCCC;
}

#logo_h {

	height:100%;
	width: 150px;
	background-image: url("../images/logo.png");

	background-repeat: no-repeat;
	background-position: center;
	
}
